# Настройки для базы

POSTGRES_PASSWORD=change
POSTGRES_USER=webchamber
POSTGRES_DB=webchamber


# Настройки для бека

SELF_DOMAIN=http://localhost

DB_NAME=webchamber
DB_USER=webchamber
DB_PASS=change
DB_HOST=postgres

VK_CLIENT_ID=123321
VK_CLIENT_SECRET=123321

MINIO_ENDPOINT = minio:9000
MINIO_BUCKET = webchamberbucket
MINIO_USER_ENDPOINT = http://localhost:9000


VK_REDIRECT_URI=http://localhost/backend/auth/vk/code-response
FRONTEND_FINISH_AUTH_URL=http://localhost/


# Настройки для Minio

MINIO_ROOT_USER=webchamber
MINIO_ROOT_PASSWORD=changeme123

# урл админки минио на внешнем балансере
MINIO_BROWSER_REDIRECT_URL: http://localhost/minio-admin

MINIO_DEFAULT_BUCKET=webchamberbucket


# Настройки для фронта
REACT_APP_SERVER_HOST='http://localhost/backend'

# api
REACT_APP_AUTH_URL='http://localhost/backend/auth/vk/login-start'
