$base-lighter: #D1B7F2;
$base-light: #AE84E0;
$base-accent: #905DCC;
$base-dark: #753EB6;
$base-darker: #5D21A5;
$gray-lighter: #E4E4E4;
$gray-light: #CBCBCB;
$gray-basic: #7A7980;
$gray-dark: #4E4C54;
$gray-darker: #3C3A40;
