@import "src/styles/mixins.module";
@import "src/styles/variables.module";

.button_with_icon {
  @include flex-row-full-center();
  @include roboto-14-regular();

  padding: 6px 8px 6px 18px;
  border-radius: 8px;
  gap: 6px;
  //color: white;
  //background-color: $base-accent;
  //border: 1px solid $base-accent;
}