@import "../../../core/styles/variables";

.controlPanel {
  display: flex;
  flex-direction: column;
  padding-top: 1px;
  gap: 4px;
  background-color: $gray-darker;
}

.mainContainer {
  display: flex;
  width: 100%;
  gap: 0;
}

.playerContainer {
  display: flex;
  justify-content: center;
}

.innerBox {
  padding: 0 20px 54px 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 98vw;
}

.timeline {
  height: 8px;
  background-color: $gray-light;
}

.centralIconsGroup {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  //border: 1px solid white;

  width: 30vw;
}

.iconsGroup {
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 30vw;
  gap: 4px;
  //border: 1px solid white;
}

.meta {
  color: white;
  text-align: left;
  //border: 1px solid white;

  width: 30vw;
}