$text_primary: #565656;

.box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 4px 0;
}

.reverseBox {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 0;
}

.postBox {
    display: flex;
    flex-direction: column;
}

.media {
    width: 275px;
    height: 165px;
    border-radius: 8px;
}

.text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $text_primary;
}

.likes {
    display: flex;
    flex-direction: row;
    gap: 4px;
}