$accent: #905DCC;

.primaryBody {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;


  height: 32px;
  color: white;
  border: none;
  border-radius: 8px;
  background-color: $accent;
}

.iconBody {
  height: 32px;
  width: 32px;
  border: none;
  border-radius: 8px;
  background-color: transparent;
}