@import "src/components/core/styles/variables";

$text_primary: #565656;

.setupProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.setupSettings {

}

.setupFavourites {

}

.setupChamber {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.setupChallengeView {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.setupPostView {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: stretch;
  //background-color: $gray-darker;
}